<div class="genre-container" style="display: flex;">
  <mat-card>
    <mat-card-header class="genre-header">
      <mat-card-title class="genre-name">Genre: {{genre.Name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="genre-description">
      <p>Description: {{genre.Description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="closeDialog()" color="primary">
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>