<div class="genre-container" style="display: flex;">
  <mat-card>
    <mat-card-header class="genre-header">
      <mat-card-title class="genre-name">Genre: {{data.Name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="genre-description">
      <p>Description: {{data.Description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="close-btn"><button mat-icon-button aria-label="Close the genre details button" mat-dialog-close
          color="primary">
          Close
        </button></div>
    </mat-card-actions>
  </mat-card>
</div>