<app-nav-bar></app-nav-bar>
<div class="movie-card">
  <mat-card class="mat-card" *ngFor="let movie of movies;">
    <mat-dialog-content>
      <mat-card-header class="mat-card-header">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        <button mat-icon-button (click)="onToggleFavoriteMovie(movie.Title)">
          <mat-icon color="warn" *ngIf="isFavorite(movie.Title)">favorite</mat-icon>
          <mat-icon [ngStyle]="{'color':'gray'}" *ngIf="!isFavorite(movie.Title)">favorite_border
          </mat-icon>
        </button>

      </mat-card-header>


      <mat-card-subtitle><img class="movie-image" src={{movie.ImageURL}} alt={{movie.Title}} /></mat-card-subtitle>


      <mat-card-actions class="mat-card-actions">
        <button mat-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" color="primary">
          Genre
        </button>
        <button mat-button
          (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthyear)"
          color="primary">
          Director
        </button>
        <button mat-button (click)="openSynopsisDialog(movie.Title, movie.Description)" color="primary">
          Synopsis
        </button>

      </mat-card-actions>

    </mat-dialog-content>
  </mat-card>
</div>