* {
  background-color: whitesmoke;
  color: black;
}

.favorite-button {
  float:right;
  cursor: pointer;
}

.favorite-button-active {
  float: right; 
  cursor: pointer;
}



.mat-card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  
}

.movie-image {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.movie-card {
  justify-content: center;
  background-color: darkblue;  
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  grid-auto-rows: 500px;
 
  
}

.mat-card-actions{
  display: flex;
  justify-content: center;
  align-items: center;
}