<div class="director-container" style="display: flex;">
  <mat-card>
    <mat-card-header class="director-header">
      <mat-card-title class="director-title">Director Name: {{director.Name}}</mat-card-title>
      <mat-card-subtitle>Director Birthyear: {{director.Birthyear}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Director Bio: {{director.Bio}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="closeDialog()" color="primary">
        Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>