.user-profile {
  border: 10px solid darkblue;
  display: flex;
  color: darkblue;
  display: flex;
  margin-top: 20px;
  margin: auto; 
  text-align: left;
  align-items: left; 
  flex-direction: column;
  width:30%;
  padding: 20px;  
 
}


.favemovietext-style{
  text-align: left;
}

.profiletext-style{
  display: flex;
}

.del-btn{
  margin-right: 30px;
  background-color: darkred;
  color: white;
  margin-top: 10px;
  align-items: center;
 text-align: center;
  width: 30%;
  height: 10%;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-btn{
  background-color: darkorange;
 margin-right: 30px;
  color: white;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 10%;
  justify-content: center;
  margin-bottom: 20px;
}



.user-fav{
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  align-items: center;
  background-color: whitesmoke;
  margin: 0 auto;
  width:50%;
  padding: 10px;  
 
}


.fave-style{
  color: solid darkblue;
  
}

