.user-profile {
  border: 10px solid darkblue;

  color: darkblue;
  display: flex;
  margin-top: 30px;
  
  margin: auto; 
  text-align: left;
  align-items: left; 
  flex-direction: column;
  width:30%;
  padding: 20px; 
  margin-bottom: 30px; 
  background-color: lightblue;
 
}


.favemovietext-style{
  text-align: left;
}

.profiletext-style{
 
  text-align: left;
}

.del-btn{
  margin-right: 30px;
  background-color: darkred;
  color: white;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 20%;
  justify-content: center;
  margin-bottom: 30px;

}

.edit-btn{
  background-color: blue;
  margin-right: 30px;
  color: white;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 20%;
  justify-content: center;
  margin-bottom: 30px;
 
}



.user-fav{
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  align-items: center;
  background-color: whitesmoke;
  margin: 0 auto;
  width:50%;
  padding: 10px;  
 
}


.fave-style{
  color: solid darkblue;
  align-items: stretch;
  
}

