<app-nav-bar></app-nav-bar>

<div class="user-profile">
  <div>
    <h2 class="profiletext-style">Your Profile:</h2>
    <p>Username: {{user.Username}}</p>
    <p>Email: {{user.Email}}</p>
    <p>Birthday: {{user.Birthday}}</p>
    <h2 class="favemovietext-style">Favorite Movies: </h2>
    <p class="fave-style">{{user.FavoriteMovies.join(', ')}}</p>

    <button mat-raised-button class="del-btn" (click)="openUserDelete()">
      Delete
    </button>
    <button mat-raised-button class="edit-btn" (click)="openUserEdit()">
      Edit
    </button>
  </div>